@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include base-scrollbar;

  div {
    @include base-scrollbar;
  }

}

body, body .vxe-table {
  font-family: Verdana, PingFangSC-Regular, PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  word-break: break-all;
}

ul, ol, li {
  list-style: none;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}


//临时菜单样式，后续重构会删除  bengin ----------------

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title {
  min-width: 0 !important;
  padding-left: 50px !important;

  //.nest-menu {
  //  padding-left:60px !important;
  //}
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title {
  color: #9e9e9e !important;
}

#app .sidebar-container .nest-menu {
  // .el-menu .el-submenu__title {
  //   padding-left: 70px !important;
  // }

  // .el-menu-item {
  //   padding-left: 70px !important;
  // }

  // .nest-menu {
  //   .nest-menu {
  //     .el-menu-item {
  //       padding-left: 90px !important;
  //     }
  //   }
  // }
}

//临时菜单样式，后续重构会删除  end ----------------


aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.root-container {
  padding: 20px;
}

// 表格全局样式
.erpTableBox {
  border-top: 1px solid #dfe6ec;
  border-left: 1px solid #dfe6ec;
  border-right: 1px solid #dfe6ec;

  .el-dropdown-link {
    cursor: pointer;
    color: #409eff;
    margin-left: 5px;
  }

  .el-icon-arrow-down {
    font-size: 12px;
  }
}

// 表格分页条样式
.erpTablePagebar {
  margin-top: 20px;
  text-align: right;
}

// element ui 重置
.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__title, #app .el-drawer__header {
  font-size: 16px;
  color: #000;
  text-align: center;
}

.el-input__inner, .el-button, .el-textarea__inner {
  border-radius: 2px;
  font-size: 12px;
  // resize:none;
}

.el-input__inner, .el-textarea__inner {
  padding: 0 8px;
  color: #000;
  vertical-align: top;
}

.el-pagination__editor.el-input .el-input__inner {
  vertical-align: 0px;
}

.el-textarea__inner {
  padding: 5px 8px;
}

.el-input.is-disabled .el-input__inner {
  background: #fafafa;
  color: #000;
}

.el-form .el-select {
  width: 100%;
}

.el-button {
  vertical-align: top;
}

.el-form .el-form-item .el-form-item__label {
  font-size: 12px;
  color: #888;
  font-weight: 400;
}

.el-date-editor .el-input__inner {
  padding-left: 30px;
}

.el-form-item__content {
  font-size: 12px;
  color: #000;
}

.el-link {
  font-size: 12px;
}

.el-cascader-panel {
  font-size: 12px;
}

.el-checkbox .el-checkbox__label {
  color: #555;
  padding-left: 8px;
  font-size: 12px;
  line-height: 16px;
}

.el-tree-node__label {
  color: #555;
  font-size: 12px;
}

.dialog-footer {
  text-align: center;
}

.el-select-dropdown, .el-dropdown-menu, .el-popover {
  border: solid 1px #f9f9f9;
  border-radius: 2px;
  box-shadow: 0 4px 16px -4px rgb(0 0 0 / 24%);

  .popper__arrow {
    border-bottom-color: #ffffff !important
  }

  &.el-popper[x-placement^=right] .popper__arrow {
    border-right-color: #ffffff !important;
    border-bottom: transparent !important;
  }

  &.el-popper[x-placement^=left] .popper__arrow {
    border-left-color: #ffffff !important;
    border-bottom: transparent !important;
  }
}

.el-select-dropdown__list .el-select-dropdown__item {
  font-size: 12px;
}

.el-popover {
  font-size: 12px;
}

.el-dialog__body {
  color: inherit;
}

.el-tag {
  height: 18px;
  line-height: 18px;
  border-radius: 2px;
  &.el-tag--small{
    height: 24px;
    line-height: 22px;
  }
}

.el-scrollbar__wrap {
  overflow-x: hidden ;
}

.sw-dropdown .el-icon-arrow-down {
  margin-left: 2px;
  font-weight: 800;
}

.sw-dropdown-menu .el-dropdown-menu__item {
  font-size: 12px;
  padding: 0;

  .el-button {
    font-size: inherit;
    height: 30px;
    color: #444;
    display: block;
    width: 100%;
    padding: 0 15px;
    text-align: left;
    vertical-align: top;
  }

  &:hover {
    .el-button {
      color: #1890ff;
    }
  }
}

.sw-icon-more {
  font-weight: 800;
  margin-left: 2px;
  color: #aaa;
}

.sw-detail-list .el-form-item {
  margin-bottom: 0;

  .el-form-item__label {
    line-height: 36px;
  }

  .el-form-item__content {
    word-wrap: break-word;
    padding: 8px 0;
    line-height: 20px;
    display: flow-root;
  }
}

.sw-detail-smallList .el-form-item {
  margin-bottom: 0;

  .el-form-item__label {
    line-height: 26px;
  }

  .el-form-item__content {
    word-wrap: break-word;
    padding: 4px 0;
    line-height: 18px;
    display: flow-root;
  }
}

.sw-sub-list .el-form-item {
  margin-bottom: 0;

  .el-form-item__label {
    line-height: 28px;
  }
  .el-form-item__content {
    word-wrap: break-word;
    padding: 5px 0;
    line-height: 18px;
    display: flow-root;
  }
  &.sw-input-item .el-form-item__content {
    padding:0;
  }

}


.sw-detail-list.el-form--inline .el-form-item, .sw-sub-list.el-form--inline .el-form-item {
  .el-form-item__content {
    display: inline-block;
  }
}


.sw-parts-tree {
  padding-left: 20px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 25px;
    width: 1px;
    border-left: dotted 1px #aaa;
  }

  .tree-item {
    display: flex;
    padding-top: 10px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 40px;
      bottom: 25px;
      width: 1px;
      border-left: dotted 1px #aaa;
    }

    &:after {
      content: "";
      position: absolute;
      left: -20px;
      top: 30px;
      height: 1px;
      width: 18px;
      border-top: dotted 1px #aaa;
    }

    .parts-type {
      width: 70px;
      padding-top: 9px;
    }

    .part-box {
      width: 0;
      flex: 1;
    }
  }


  // &::before{
  //   content: "";
  //   width: 1;
  //   position: absolute;
  //   left: 0;
  //   top: 20px;
  //   bottom: 37px;
  //   border-left: dotted 1px #aaa;
  // }

  // .img{
  //   position: relative;
  //   &::before{
  //     content: "";
  //     height: 1px;
  //     position: absolute;
  //     width: 18px;
  //     top: 20px;
  //     right:50px;
  //     border-top: dotted 1px #aaa;
  //   }
  // &::after{
  //   content: "";
  //   width: 4px;
  //   height: 4px;
  //   border-radius: 100%;
  //   background: #aaa;
  //   display: block;
  //   position: absolute;
  //   top: 18px;
  //   left: -9px;
  // }
  // }
  // .part-box{
  //   padding-bottom: 10px;
  //   position: relative;
  //   &::before{
  //     content: "";
  //     width: 1p;
  //     position: absolute;
  //     left: 20px;
  //     top: 50px;
  //     bottom: 37px;
  //     border-left: dotted 1px #aaa;
  //   }

  // }
}

.sw-img-box {
  width: 100px;
  height: 100px;

  .img-box {
    width: 100%;
    height: 100%;
    position: relative;

    .btn-delete {
      position: absolute;
      padding: 5px;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, .2);
      color: #fff;
      cursor: pointer;
    }
  }

  .el-upload {
    width: 100%;
    height: 100%;
  }

  .image-update {
    width: 100%;
    height: 100%;
    background: #F5F7FA;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    color: #777;

    .btn {
      font-size: 20px;
    }

    .image-tips {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

//vxe-table ui 重置
.vxe-table {
  font-size: 12px;
  color: #444;

  th {
    font-weight: 600;
    color: #000;
    font-size: 12px;
    background-color: #f9f9f9;
    padding: 8px 0;
  }

  td {
    padding: 6px 0;
    line-height: 18px;
    height: 48px;

    .vxe-cell {
      line-height: 18px;
      min-height: 18px;
    }

    .el-link {
      vertical-align: inherit;
    }
  }
}

.vxe-table--render-default .vxe-table--fixed-left-wrapper.scrolling--middle {
  box-shadow: 2px 0 6px 0 rgb(0 0 0 / 8%);
}

.vxe-table--render-default .vxe-table--fixed-right-wrapper.scrolling--middle {
  box-shadow: -2px 0 6px 0 rgb(0 0 0 / 8%);
}

.vxe-table--render-default .vxe-body--expanded-cell{
  padding: 4px 10px 10px;
  .vxe-table--body-wrapper.body--wrapper{
    overflow-x:auto !important;
  }
}

// vxe-table show-overflow el-tooltip相关样式重构
.vxe-table--tooltip-wrapper {
  z-index: 99999 !important;
}

.vxe-table--tooltip-wrapper.theme--light, .el-tooltip__popper.is-light {
  padding: 8px 12px;
  border: none;
  min-width: 80px;
  max-width: 334px;
  word-break: break-word;
  color: #444;
  font-size: 12px;
  line-height: 16px;
  -webkit-box-shadow: 0 4px 16px -4px rgb(0 0 0 / 20%);
  box-shadow: 0 4px 16px -4px rgb(0 0 0 / 20%);
}

.vxe-table--tooltip-arrow, .el-tooltip__popper.is-light .popper__arrow {
  border-top-color: #fff !important;
}


// 主体布局
.erp-content {
  padding: 16px 20px;
  height: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: column;

  .erp-content-header {
    padding-bottom: 8px;

    .el-form-item {
      margin-bottom: 8px;
      margin-right: 8px;
      .el-dropdown{
        .el-dropdown__caret-button{
          margin-left: -1px;
          span{
            height: 12px;
            display: inline-block;
          }
        }

      }
    }
  }

  .erp-content-body {
    height: 0;
    flex-grow: 2;
  }

  .erp-content-footer {
    padding-top: 16px;
    text-align: center;
  }
}

.erp-page-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;

  .el-tabs__header {
    margin-top: -15px;
  }

  .el-tabs__item {
    font-size: 12px;
  }

  .el-tabs__nav-wrap::after {
    height: 1px;
  }

  .el-tabs__content {
    height: 0;
    flex-grow: 2;

    .el-tab-pane {
      height: 100%;
      display: flex;
      flex-direction: column;

      .erp-content-body {
        height: 0;
        flex-grow: 2;
      }
    }
  }

  &.only-header {
    height: auto;
  }

}

.sw-popover-supplierList {
  li {
    padding: 5px 0;
    display: flex;

    .name {
      flex: 1;
      padding-right: 20px;
    }
  }
}

// 树形选择样式重构
.erp-treeselect {
  .vue-treeselect__control {
    height: 30px;
    line-height: 26px;
    border-radius: 2px;
    font-size: 12px;
    border: 1px solid #DCDFE6
  }

  .vue-treeselect__multi-value {
    vertical-align: top;
    margin-bottom: 0 !important;
    padding: 2px 0;
  }

  .vue-treeselect__multi-value-item-container {
    padding-top: 0;
  }

  .vue-treeselect__multi-value-item {
    padding: 0;
    line-height: 26px;
    border: 0
  }

  .vue-treeselect__placeholder, .vue-treeselect__single-value {
    height: 30px;
    line-height: 30px;
  }

  .vue-treeselect__single-value {
    color: #000;
  }

  &.vue-treeselect--single .vue-treeselect__control {
    padding-top: 1px;
    padding-bottom: 1px;
    height: 32px;
  }

  .vue-treeselect__label {
    font-size: 12px;
    font-weight: 400;
    color: #606266;
  }

  .vue-treeselect__limit-tip-text {
    font-weight: 400;
    color: #666;
  }

}

.vue-treeselect--searchable.vue-treeselect--multi.vue-treeselect--has-value .vue-treeselect__input-container {
  padding-top: 0;
}

.vue-treeselect--multi .vue-treeselect__input {
  padding-top: 0;
  padding-bottom: 0;
}

.vue-treeselect__limit-tip {
  padding-top: 0;
}

.vue-treeselect__limit-tip-text {
  margin: 0;
  padding: 0;
}


//抽屉相关样式重构 erp-drawer
.erp-drawer {
  .el-drawer__header {
    margin-bottom: 20px;
  }

  .el-drawer__body {

    height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .erp-drawer-content {
    height: 0;
    flex-grow: 2;
  }

  .erp-drawer-footer {
    padding: 20px 0;
    text-align: center;
  }

  .el-drawer-scrollbar {
    height: 100%;

  }

  .erp-drawer-content .el-scrollbar__view {
    height: 100%;
    overflow-x: hidden;
    padding: 0 20px 15px;

  }

}

// 公共样式
:focus {
  outline: 0;
}
.f12{
  font-size: 12px;
}

.flex {
  display: flex;
}

.tc {
  text-align: center;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}
.mr10{
  margin-right: 10px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}
.p10{
  padding: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.color-gray {
  color: #888;
}

.color-primary {
  color: #409eff;
}

.f14 {
  font-size: 14px;
}
.fb{
  font-weight: 800;
}
